# Lab 1 – Load and Explore the Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Instruction: Update the path if your folder structure is different.
%cd /content/drive/MyDrive/Python - Time Series Forecasting/Time Series Analysis/Python for Time Series Analysis

/content/drive/.shortcut-targets-by-id/1HWCCj_ENoh3UWoUVaRwtZnL2gIxvz1jG/Python - Time Series Forecasting/Time Series Analysis/Python for Time Series Analysis

In [3]:
# Task 1: Import the pandas library for data manipulation.
import pandas as pd

In [4]:
# Task 2: Load the 'train.csv' file into a DataFrame called df and preview the first rows.
df = pd.read_csv("train.csv")
df.head()

/tmp/ipython-input-4292402596.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train.csv")

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [7]:
# Task 3: Inspect the structure of the DataFrame using df.info().
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

In [8]:
# Task 4: Print the unique values in 'StateHoliday' and their counts.
df['StateHoliday'].value_counts()

StateHoliday
0    855087
0    131072
a     20260
b      6690
c      4100
Name: count, dtype: int64

In [ ]:
# Task 5: Binarize the 'StateHoliday' column so that any of 'a', 'b', or 'c' becomes 1 and 0 stays 0.
# Then, print the updated value counts.
df['StateHoliday'] = df['StateHoliday'].isin(['a', 'b','c']).astype(int)
df['StateHoliday'].value_counts()

StateHoliday
0    986159
1     31050
Name: count, dtype: int64

# Lab 2 – Subsetting Stores and Basic Aggregations

In [9]:
# Task 1: Count how many unique stores exist in the dataset.
print(f"There is {len(df.Store.unique())} stores.")

There is 1115 stores.

In [21]:
from numpy.random.mtrand import random
# Task 2: Subset the data to 10 random stores (seed = 1502) and store the result in df_10.
df_10 = df[df.Store.isin(df.Store.sample(n = 10, random_state = 1502))].copy()
df_10

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
23,24,5,2015-07-31,14190,1082,1,1,0,1
46,47,5,2015-07-31,9379,1021,1,1,0,1
155,156,5,2015-07-31,8828,821,1,1,0,1
263,264,5,2015-07-31,8303,992,1,1,0,1
266,267,5,2015-07-31,11326,1217,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1016447,353,2,2013-01-01,3139,820,1,0,a,1
1016857,763,2,2013-01-01,0,0,0,0,a,1
1016888,794,2,2013-01-01,0,0,0,0,a,1
1016956,862,2,2013-01-01,0,0,0,0,a,1
1016958,864,2,2013-01-01,0,0,0,0,a,1

In [31]:
# Task 3: Compute the mean sales for each of the 10 stores and sort them in descending order.
df.groupby('Store')['Sales'].mean().sort_values(ascending=False)

Store
262     20718.515924
817     18108.139066
562     17969.556263
1114    17200.196391
251     15814.087049
            ...
841      2461.395966
208      2443.791932
198      2407.933121
543      2313.468153
307      2244.503185
Name: Sales, Length: 1115, dtype: float64

In [45]:
# Task 4: For each store, find the index (row) of the day with the all-time highest sales.
df.groupby('Store')['Sales'].idxmax().sort_values(ascending = False)

Store
1112    1010516
1099    1010503
986     1010390
958     1010362
762      994556
         ...
130       34694
47        34611
876       28750
578        5037
408        4867
Name: Sales, Length: 1115, dtype: int64