# Lab 1 â€“ Load and Explore the Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Instruction: Update the path if your folder structure is different.
%cd /content/drive/MyDrive/Python - Time Series Forecasting/Time Series Analysis/Python for Time Series Analysis

/content/drive/.shortcut-targets-by-id/1HWCCj_ENoh3UWoUVaRwtZnL2gIxvz1jG/Python - Time Series Forecasting/Time Series Analysis/Python for Time Series Analysis

In [3]:
# Task 1: Import the pandas library for data manipulation.
import pandas as pd

In [5]:
# Task 2: Load the 'train.csv' file into a DataFrame called df and preview the first rows.
df = pd.read_csv('train.csv')
df.head()

/tmp/ipython-input-112222673.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('train.csv')

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [6]:
# Task 3: Inspect the structure of the DataFrame using df.info().
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

In [7]:
# Task 4: Print the unique values in 'StateHoliday' and their counts.
df['StateHoliday'].value_counts()

StateHoliday
0    855087
0    131072
a     20260
b      6690
c      4100
Name: count, dtype: int64

In [9]:
# Task 5: Binarize the 'StateHoliday' column so that any of 'a', 'b', or 'c' becomes 1 and 0 stays 0.
# Then, print the updated value counts.
df['StateHoliday'] = df['StateHoliday'].isin(['a','b','c']).astype(int)
df['StateHoliday'].value_counts()

StateHoliday
0    986159
1     31050
Name: count, dtype: int64